#navbar{
    
}
#navbarContainer{
    transition: top 1s;
}
.bar1, .bar2, .bar3 {
    width: 34px;
    height: 5px;
    background: linear-gradient(90deg,#ff8e00 14.6%,#ff5003);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2.5px;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-11px, -8px);
    transform: rotate(45deg) translate(-11px, -8px);
  }
.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: top 1s;
    background-color: var(--color_black_down);
    &Down {
        // box-shadow: 0 1px 10px var(--color_primary);
    }
    &Container {
        transition: top 1s;
        &Logo{
            margin-top: -10px;
            & img{
                width: 200px;
                height: 200px;
                display: none;
            }
        }
        &Down {
            height: 90px;
            & .headerContainerLogo img{
                width: 110px;
                height: 110px;
                display: block;
            }
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 1500px;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: auto;
        &Menu {
            width: calc(100% - 280px);
            height: 90px;
            & nav {
                height: 100%;
            }
        }
    }
    &WrapperSocial{
        position: absolute;
        top: 50%;
        right: 10px;
        width: 2vw;
        transform: translate(0,50%);
        &MB{
            display: none;
        }
    }
}

.mainMenu {
    height: inherit;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    &Home{
        background: linear-gradient(90deg,#ff8e00 14.6%,#ff5003);
        padding: 7px 37px;
        border-radius: 5px;
        margin-right: 30px;
    }
    & li {
        position: relative;
        & img{
            width: 43px;
            height: 5px;
            display: block;
            position: absolute;
            bottom: -5px;
            opacity:0;
            transition: all .5s ease;
            
        }
        & a {
            cursor: pointer;
            text-decoration: none;
            color: var(--color_text_white);
            font-weight: 300;
            font-size: 16px;
            transition: all .5s ease;
            
        }
        &:hover img{
            opacity:1;
        }
        
    }
    & .active {
        // color: var(--color_primary);
    }
     
}
.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #000000cc;
    & li:first-child {
        margin-top: 20px;
    }
    & li:last-child {
        margin-bottom: 20px;
    }
    & li,
    & a,
    & div {
        float: none;
        display: block;
        text-align: center;
        line-height: 2.8;
    }
}
.menu_mobile_icon {
    position: absolute;
    right: 25px;
    top: 20px;
    background: none;
    display: none;
    & img{
        width: 55px;
        height: auto;
    }
}
.display_block{
    display: block !important;
}



@media screen and (max-width: 1025px) {
    .menu_mobile_icon {
        display: block;
        border: none;
    }
    .mainMenu {
        &Home{
            margin-right: auto;
        }
        & li {
        position: relative;
        
        & img{
            position: initial;
            margin: auto;
        }
        }
    }
    .header{
        background-color: #00000000;
        &Container{
            &Down{
                height: auto;
            }
            &Menu{
                width: 100%;
                margin-left: -110px;
                height: auto;
                display: none;
            }
        }
    }
    .headerWrapperSocial{
        width: 4vw;
        display: none;
        &MB{
            display: flex !important;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            & a{
                width: 50px;
                height: 50px;
                margin: 5px;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .headerContainerMenu{
        height: auto;
    }
}
@media screen and (max-width: 500px) {
    .headerContainerLogo {
        margin-top: 0;
        margin-left: 10px;
        & img{
        width: 80px !important;
        height: 80px !important;
    }   }
    .headerWrapperSocial{
        top: 100%;
        width: 8vw;
        &MB {
            margin-bottom: 20px;
            &a{
                width: 40px;
                height: 40px;
                margin: 5px;
            }
        }
    }
    
}