
.partners {
    & .container {
        max-width: 1000px;
    }
    &title{
        top: 80px;
        width: 40%;
        margin: auto;
        margin-bottom: 4%;
    }
    &Wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
        & * {
            width: 25%;
            margin: 20px calc(25% / 6);
        }
    }
}
@media screen and (max-width:600px) {
    .partners {
        &title{
            top: 80px;
            width: 80%;
            margin: auto;
            margin-bottom: 4%;
        }
    &Wrapper {
        & * {
            width: 60%;
        }
    }
    }
}