

.character{
    &MB{
        display: none;
    }
    position: relative;
    height: 120vh;
    padding-top: 90px;
    // mix-blend-mode: screen;
    background-image: url(../../public/assets/SOLDIER_BACKGROUND.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &Container{
        position: absolute;
        left: 50%;
        height: auto !important;
        transform: translate(-50%,0);
        z-index: 1;
    }
    &BG{
        position: absolute;
        left: 0;
        top: 60%;
        width: 100vw;
        height: 263px;
        mix-blend-mode: screen;
        background: linear-gradient(90deg, rgba(255, 63, 3, 0) 37.1%, rgba(255, 95, 2, 0.82) 57.51%, #FF8E00 100%);
    }
    &title{
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        text-align: center;
        & p{
            color: var(--color_text_white);
            font-size: 18px;
            font-weight: 200;
            margin: 20px;
        }
        & img{
            width: auto;
            height: auto;
            margin: auto;
        }
    }
    & h1{
        font-family: "NEXON Football Gothic",'Poppins',sans-serif;
        font-size: 45px;
        font-weight: 700;
        color: var(--color_text_white);
        text-align: center;
        letter-spacing: 3px;
    }
    &FirstSlider{
        width: 40%;
        margin: auto;
        position: absolute!important;
        bottom: 23%;
        left: 50%;
        transform: translateX(-50%);
        &Item{
            width: 5.15% !important;
        }
        & img{
            // filter: grayscale(100%);
            // width: 70%;
            cursor: pointer;
        }
        & .Icon_{
            &Des:hover{
                content: url(../../public/assets/Destroyer_Icon_Metagunner_hover.webp);
            }
            &Spe:hover{
                content: url(../../public/assets/Special_Force_Icon_Metagunner_hover.webp);
            }
            &Gun:hover{
                content: url(../../public/assets/Gunner_Icon_Metagunner_hover.webp);
            }
            &Off:hover{
                content: url(../../public/assets/Officer_Icon_Metagunner_hover.webp);
            }
            &Sco:hover{
                content: url(../../public/assets/Scout_Icon_Metagunner_hover.webp);
            }
            &Sni:hover{
                content: url(../../public/assets/Sniper_Icon_Metagunner_hover.webp);
            }
            &Med:hover{
                content: url(../../public/assets/Medic_Icon_Metagunner_hover.webp);
            }
        }
    }
    &SecondSlider{ 
        position: relative;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // animation: animationBoard 2s linear;
        &PC{
            position: relative;
        }
        &MB{
            display: none;
        }
        &Wrapper{
            top: 6%;
        }
        &Title{
            font-size: 17px;
            font-weight: 200;
            color: var(--color_text_white);
            width: 30% !important;
            padding: 20px;
            padding-top: 145px;
            letter-spacing: 0.5px;
            line-height: 1.8;
            // background-color: rgba(0, 0, 0, 0.781);
            // border-radius: 30px;
            & h2{
                font-family: "NEXON Football Gothic",'Poppins',sans-serif;;
                color: var(--color_text_white);
                font-size: 45px;
                text-transform: uppercase;
            }
            
        }
    }
}
.Soldier{
    position: relative;
    &Wrapper{
        position: relative;
        z-index: 1;
        width: 100%;
        height: auto;
        margin-top: 1.7%;
        margin-bottom: 5%;
    }
    &Bottom{
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 0;
    }
}
.iconSlider{
    width: calc(100%/2) !important;
}
@keyframes animationSoldier {
    0% {
        top: 0;
    }
    50%{
        top: -15px;
    }
    100% {
        top: 0;
    }
}

@keyframes animationBoard {
  from {
    transform: scale(0.1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(359deg);
  }
}

@media screen and (max-width: 1025px) {
.character{
    height: 58vh;
}
}

@media screen and (max-width: 600px) {
    .character{
        height: 100vh;
        & h1{
            font-size: 35px;
        }
        &BG{
            position: absolute;
            left: 0;
            top: 77%;
            width: 100vw;
            height: 24%;
            mix-blend-mode: screen;
            background: linear-gradient(90.01deg, rgba(255, 63, 3, 0) -22.2%, rgba(255, 95, 2, 0.82) 17.44%, #FF8E00 99.99%);
        }
        &title{
            width: 90%;
            top:5px;
        }
        &FirstSlider{
            width: 60%;
            bottom: 0%;
            left: 50%;
            max-width: 300px;
            & img{
                width: 85%;
            }
        }
        &SecondSlider{
            display: inline-block !important;
            text-align: center;
            max-height: 810px;
            max-width: 410px;
            left: 50%;
            transform: translateX(-50%);
            &PC{
                display: none;
            }
            &MB{
                display: block;
            }
            & img{
                order: 1;
            }
            &Title{
                width: 80%!important;
                margin: auto;
                margin-top: 50px;
                padding: 0;
                & h2{
                    font-size: 30px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .Soldier{
        width: 70%;
        margin: auto;
        margin-left: 25%;
        &Wrapper{
            width: auto;
            height: calc(100vh - 120px);
            margin: auto;
            margin-top: 25px;
        }
        &Bottom{
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            height: calc(100vh - 90px);
        }
    }
}
@media screen and (max-width: 600px) {
    .character{
        &FirstSlider{
            width: 70%;
        }
    }
}