
.footer {
    & hr{
        border: 2px solid var(--color_primary);
        width: 88%;
        margin: auto;
        margin-bottom: 45px;
    }
    &Container{
        display: flex;
        width: 100%;
        background-color: black;
    }
    &Wrapper {
        position: relative;
        width: 47%;
        text-align: center;
        padding-bottom: 40px;
        &Logo {
            position: absolute;
            left: 25%;
            top: 0%;
            width: 42%;
            margin: auto;
        }
        
        
        &Nav {
            display: flex;
            justify-content: space-around;
            color: var(--color_primary);
            margin-bottom: 20px;
            position: relative;
            z-index: 1;
            & li {
                font-weight: 600;
                position: relative;
            }
            & li::after {
                content: "";
                background: url(../../public/assets/telegram.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                width: 20px;
                height: 20px;
                display: inline-block;
                position: absolute;
                right: -30px;
                transition: all 1s ease;
            }
            & li:hover::after {
                right: -20px;
            }
        }
    }
    &Menu{
        width: 53%;
        color: var(--color_text_white);
        display: flex;
        align-items:flex-end;
        padding: 4%;
        padding-left: 0;
        &Wrapper{
            width: 35%;
            & img{
                display: block;
                width: 52px;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
        &About{
            width: 50%;
            display: inline;
            float: left;
            // & h2{
            //     // margin-bottom: 20px;
            //     font-size: 20px;
            //     font-weight: 600;
            // }
            & ul{
                list-style: none;
                & li {
                    margin-bottom: 5px;
                    font-size: 17px;
                    & a{
                        color: var(--color_text_white);
                        text-decoration: none;
                        font-weight: 300;
                        line-height: 1.8;
                    }
                }
            }
        }
        &FAQ{
            margin-left: 10%;
            width: 65%;
            & img{
                width: 52px;
                height: auto;
                margin-bottom: 20px;
                margin-top: 10px;
            }
            // & h2{
            //     // margin-bottom: 20px;
            //     font-size: 20px;
            //     font-weight: 600;
            // }
            & ul{
                list-style: none;
                & li{
                    margin-bottom: 5px;
                    font-size: 17px;
                    & a{
                        color: var(--color_text_white);
                        text-decoration: none;
                        font-weight: 300;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
    &Bottom{
        display: block;
        width: 100%;
        text-align: center;
        background-color: black;
        &Social{ 
            margin-bottom: 20px;
            & img {
            width: 3vw;
            height: 3vw;
            margin: 15px;
        }}
        & p {
            color: var(--color_text_white);
            padding-bottom: 40px;
            font-size: 13px;
        }
    }
}

@media screen and (max-width:1200px) {
    .footerBottomSocial{ 
                & img {
                width: 4vw;
                height: 4vw;
        }
    }
}
@media screen and (max-width:1025px) {
    .footer {
        flex-direction:column;
        align-items:center;
        &Wrapper {
            &Logo {
                left: 0;
                width: 90%;
            }
        }
        &Menu{
            width: 100%;
            &Wrapper{
                width: 50%;
            }
            &FAQ{
                width: 50%;
            }
        }
    }
}
@media screen and (max-width:750px) {
    .footer {
        &Container{
            flex-direction: column;
            padding-top: 50px;
        }
        &Wrapper{
            width: 100%;
            &Logo{
                position: static;   
                width: 50%;
                margin: auto;
                margin-top: -10%;
                margin-bottom: -10%;
            }
        }
        &Menu{
            width: 100%;
            padding: 4%;
            &Wrapper{
                width: 50%;
            }
            &FAQ{
                width: 50%;
            }
        }
    }
    .footerBottomSocial img{
        width: 6vw;
        height: 6vw;
    }
}
@media screen and (max-width:500px) {
    .footerMenu{
        flex-direction: column;
        &FAQ ul li,
        &About ul li{
           font-size: 15px;
            }
        &Wrapper{
            width: 80%;
            margin: auto 10%;
            text-align: left;
            margin-bottom: 40px;
            // & img{
            //     margin: auto;
            //     margin-bottom: 20px;
            //     margin-top: 10px;
            // }
        }  
        &FAQ{
            width: 80%;
            margin: auto;
            text-align: left;
        }  
    }
    .footerWrapper{
        width: 100%;
        &Logo {
            position: static;
            width: 60%;
            margin-top: -10%;
        }
    }
    .footerBottomSocial img{
        width: 9vw;
        height: 9vw;
    }
}

@media screen and (max-width:400px) {
    .footerBottomSocial img{
        width: 12vw;
        height: 12vw;
        margin: 10px;
    }
}