
.footer {
    background-image: url(../../public/assets/FOOTER_BACKGROUND.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    & hr{
        border: 2px solid var(--color_primary);
        width: 88%;
        margin: auto;
        margin-bottom: 45px;
    }
    &Container{
        width: 100%;
        display: flex;
    }
    &Wrapper {
        position: relative;
        width: 20%;
        text-align: center;
        &Logo {
            position: absolute;
            left: 20%;
            top: 15%;
            width: 60%;
            margin: auto;
            & p {
                width: 140%;
                margin-left: -20%;
                position: absolute;
                bottom: -60px;
                color: var(--color_text_white);
                padding-bottom: 40px;
                font-size: 13px;
            }
        }
        &Nav {
            display: flex;
            justify-content: space-around;
            color: var(--color_primary);
            margin-bottom: 20px;
            position: relative;
            z-index: 1;
            & li {
                font-weight: 600;
                position: relative;
            }
            & li::after {
                content: "";
                background: url(../../public/assets/telegram.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                width: 20px;
                height: 20px;
                display: inline-block;
                position: absolute;
                right: -30px;
                transition: all 1s ease;
            }
            & li:hover::after {
                right: -20px;
            }
        }
    }
    &Menu{
        width: 50%;
        color: var(--color_text_white);
        display: flex;
        align-items:flex-end;
        padding: 5%;
        &Wrapper{
            width: 60%;
            & h2{
                margin-bottom: 20px;
            }
            & img{
                display: block;
                width: 52px;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
        &About{
            width: 50%;
            display: inline;
            float: left;
            // & h2{
            //     // margin-bottom: 20px;
            //     font-size: 20px;
            //     font-weight: 600;
            // }
            & ul{
                list-style: none;
                & li {
                    margin-bottom: 5px;
                    font-size: 17px;
                    & a{
                        color: var(--color_text_white);
                        text-decoration: none;
                        font-weight: 300;
                        line-height: 1.8;
                    }
                }
            }
        }
        &FAQ{
            margin-left: 10%;
            width: 40%;
            & h2{
                margin-bottom: 20px;
            }
            & img{
                width: 52px;
                height: auto;
                margin-bottom: 20px;
                margin-top: 10px;
            }
            // & h2{
            //     // margin-bottom: 20px;
            //     font-size: 20px;
            //     font-weight: 600;
            // }
            & ul{
                list-style: none;
                & li{
                    margin-bottom: 5px;
                    font-size: 17px;
                    & a{
                        color: var(--color_text_white);
                        text-decoration: none;
                        font-weight: 300;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
    &Bottom{
        display: flex;
        width: 30%;
        text-align: center;
        flex-direction: column-reverse;
        &Social{ 
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 40%;
            & img {
            width: 3vw;
            height: 3vw;
            margin: 15px;
        }}
        
    }
}
.contact{
    &Wrapper{
        display: flex;
        justify-content: center;
        padding-top : 20px;
        align-items: flex-end;
    }
    &Tele{
        font-size: 20px;
        font-weight: 700;
        color: #4efefe;
        background-color: #0000;
        background-image: url(../../public/assets/button2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        width: max-content;
        padding: 32px 15px;
    }
}
@media screen and (max-width:1200px) {
    .footerBottomSocial{ 
                & img {
                width: 4vw;
                height: 4vw;
        }
    }
}
@media screen and (max-width:1025px) {
    .footer {
        flex-direction:column;
        align-items:center;
        &Wrapper {
            &Logo {
                left: 0;
                width: 90%;
            }
        }
        &Menu{
            width: 100%;
            &Wrapper{
                width: 50%;
            }
            &FAQ{
                width: 50%;
            }
        }
    }
}
@media screen and (max-width:750px) {
    .footer {
        &Container{
            flex-direction: column;
            padding-top: 50px;
        }
        &Wrapper{
            width: 100%;
            &Logo{
                position: static;   
                width: 50%;
                margin: auto;
                margin-top: -10%;
                margin-bottom: -10%;
                & p{
                    width: auto;
                    margin: auto;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -80px;
                }
            }
        }
        &Menu{
            width: 100%;
            padding: 4%;
            margin-top: 50px;
            &Wrapper{
                width: 50%;
            }
            &FAQ{
                width: 50%;
            }
        }
        &Bottom{
            width: 100%;
        }
    }
    .footerBottomSocial img{
        width: 6vw;
        height: 6vw;
    }
}
@media screen and (max-width:500px) {
    .footerMenu{
        flex-direction: column;
        &FAQ ul li,
        &About ul li{
           font-size: 15px;
            }
        &Wrapper{
            width: 80%;
            margin: auto 10%;
            text-align: left;
            margin-bottom: 40px;
            // & img{
            //     margin: auto;
            //     margin-bottom: 20px;
            //     margin-top: 10px;
            // }
        }  
        &FAQ{
            width: 80%;
            margin: auto;
            text-align: left;
        }  
    }
    .footerWrapper{
        width: 100%;
        &Logo {
            position: static;
            width: 60%;
            margin-top: -10%;
        }
    }
    .footerBottomSocial img{
        width: 9vw;
        height: 9vw;
    }
}

@media screen and (max-width:400px) {
    .footerBottomSocial img{
        width: 12vw;
        height: 12vw;
        margin: 10px;
    }
}