.wrapper{
    overflow: hidden;

}
.tokenomics_TEAM{
    background-image: url(../../public/assets/bg_tokenomics_team.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.tokenomics{
    padding-top: 20px;
    position: relative;
    & h2{
        font-family: "NEXON Football Gothic",'Poppins',sans-serif;
        font-size: 45px;
        font-weight: 700;
        color: var(--color_text_white);
        text-align: center;
        margin: 50px auto;
    }
    &Total{
        font-family: 'Monda','Poppins',sans-serif;
        font-size: 35px !important;
        font-weight: 400;
        color: #4EFEFE;
        text-align: center;
        margin: 50px auto;
        & span{
            // background: linear-gradient(90deg,#ff5003,#ff8e00  76.71%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            color: #4EFEFE;
            font-weight: 700;
        }
    }
    &Wrapper{
        display: flex;
        margin-bottom: 150px
    }
    &PieChart{
        display: inline-block;
        width: 55%;
        & img{
            width: 55%;
            height: auto;
            float: right;
            margin-right: 100px;
        }
    }
    &Text{
        display: inline-block;
        width: 45%;
        & img{
            width: 45%;
            height: auto;
            margin-left: 30px;
        }
    }
}
.tokenomicsLine{
    position: relative;
    height: 100px;
    margin: 25px auto;
    & .tokenomicsLINE1{
      position: absolute;
      animation: animationMONSTER1 50s infinite linear;
    }
    & .tokenomicsLINE2{
      position: absolute;
      right: -100%;
      animation: animationMONSTER2 50s infinite linear;
    }
    &1:hover{
        content: url(../../public/assets/1.1.png);
    }
    &2:hover{
        content: url(../../public/assets/2.1.png);
    }
    &3:hover{
        content: url(../../public/assets/3.1.png);
    }
    &4:hover{
        content: url(../../public/assets/4.1.png);
    }
    &5:hover{
        content: url(../../public/assets/5.1.png);
    }
    &6:hover{
        content: url(../../public/assets/6.1.png);
    }
    &7:hover{
        content: url(../../public/assets/7.1.png);
    }
    &8:hover{
        content: url(../../public/assets/8.1.png);
    }
    &9:hover{
        content: url(../../public/assets/9.1.png);
    }
    &10:hover{
        content: url(../../public/assets/10.1.png);
    }
    &11:hover{
        content: url(../../public/assets/11.1.png);
    }
    &12:hover{
        content: url(../../public/assets/12.1.png);
    }
}

@keyframes animationMONSTER1 {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
  }
  @keyframes animationMONSTER2 {
    0% {
      right: -100%;
  }
  100% {
      right: 0;
  }
}

.bot6{
    width: 32%;
    height: auto;
    position: absolute;
    top: -35%;
    right: 0;
    animation: animationbot6 4s infinite linear 2s;
}

.bot5{
    width: 26%;
    height: auto;
    position: absolute;
    top: 80%;
    left: 0;
    animation: animationbot5 4s infinite linear 2s;
}

@keyframes animationbot6 {
    0% {
        top: -35%;
    }
    50%{
        top: -40%;
    }
    100% {
        top: -35%;
    }
}
@keyframes animationbot5 {
    0% {
        top: 80%;
    }
    50%{
        top: 90%;
    }
    100% {
        top: 80%;
    }
}

@media screen and (max-width: 1025px) {
    .tokenomics{
        &PieChart{
            & img{
                width: 70%;
            }
        }
        &Text{
            & img{
                width: 80%;
            }
        }
    }
}
    @media screen and (max-width: 1000px) {
        .tokenomics{
            &PieChart{
                & img{
                    margin-right: 50px;
                    width: 80%;
                }
            }
            &Text{
                & img{
                    width: 90%;
                }
            }
        }
}
@media screen and (max-width: 850px) {
    .tokenomics {
        &Wrapper {
            // flex-direction:column;
            margin: 50px auto;
        }
        &PieChart{
            width: 65%;
            margin: auto;
        }
        &Text {
            &img{
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .tokenomics_TEAM{
        background-image: url(../../public/assets/Background_tokenomic.png);
    }
    .TextMB{
        display: block;
    }
    .TextPC{
        display: none;
    }
    .tokenomicsLine{
        margin: 20px auto;
        height: 40px;
    }
    .tokenomics {
        & h2{
            font-size: 35px;
            margin: 25px auto;
        }
        &Total{
            font-size: 20px !important;
            margin: 0px auto;
            & span{
                display: block;
            }
        }
        &Wrapper {
           display: inline-block;
        }
        &PieChart {
            width: 100%;
            & img{
                width: 80%;
                margin: 10%;
            }
        }
        &Text {
            margin-top: 40px;
            width: 100%;
            & img{
                width: 80%;
                margin-left: 10%;
            }
        }
    }
    .bot5{
        width: 50%;
    }
    @keyframes animationbot6 {
        0% {
            top: 0;
        }
        50%{
            top: -2%
        }
        100% {
            top: 0;
        }
    }
    @keyframes animationbot5 {
        0% {
            top: 93%;
        }
        50%{
            top: 96%;
        }
        100% {
            top: 93%;
        }
    }
}

.Advisors {
    overflow: hidden;
    padding-top: 90px;
    &Title h2{
        font-family: "NEXON Football Gothic",'Russo One', sans-serif;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        color: var(--color_text_white);
    }
    &Wrapper {
        &Bottom{
            max-width: 1600px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &Item{
                &Top{
                    width: 93%;
                    margin: auto;
                }
                &Bottom {
                    margin-top: 1rem;
                    text-align: left;
                    // padding-left: 20px;
                    text-align: center;
                    & .name{
                        font-size: 1rem;
                        color: var(--color_text_white);
                        margin-bottom: 5px;
                    }
                    & p {
                        font-size: 12px;
                        color: var(--color_text_white);
                        // font-style: italic;
                    }
            }
            }
        }
    }
        
}
@media screen and (max-width: 1700px) {
    .background{
        letter-spacing: 0 !important;
    }
}
@media screen and (max-width: 1025px) {
    .background{
            font-size: 15px !important;
    }
    .Advisors {
        &WrapperTop{
            margin: 5% auto;
        }
    }
}

@media screen and (max-width: 685px) {
    .Advisors {
        &Wrapper {
            gap: 2%;
        }
    }
}

@media screen and (max-width: 600px) {
    .Advisors {
        &Title h2{
            font-size: 35px;
        }
        &WrapperTop{
            gap: 1%;
            &Item{
                flex-direction:column;
                width: 100%;
                min-width: auto;
                margin: 30px auto;
                &Top{
                    margin: auto;
                    min-width: 200px;
                }
                &Bottom{
                    width: 89%;
                    margin: auto;
                    & .name{
                        text-align: center;
                        font-size: 25px;
                    }
                    & .position{
                        text-align: center;
                        font-weight: 400;
                    }
                    & .background{
                        line-height: 2;
                        font-weight: 200;
                    }
                }
            }
        }
        &WrapperBottom{
            gap: 1%;
            &Item{
                width: 45%;
                margin-bottom: 30px;
                &Bottom{
                    margin-top:-10px;
                    &  .name{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}