.Vidwrapper{
    position: relative;
    height: 100vh;
    & .banner_PC{
        position: relative;
        height: 100vh;
        & img{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
        }
        & .image1{
            height: 100vh;
            width: 100%;
        }
        & .image3{
            height: auto;
            width: 57%;
            bottom: 0;
            top: auto;
            left: auto;
            right: 0;
            z-index: 9;
            transform: translate(-5%,3%);
        }
        & .WrapperContainer{
            width: 30%;
            height: 80%;
            position: relative;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            & .image2{
                width: 40%;
                height: auto;
                margin-left: 0;
                margin-right: auto;
            }
            & .imageSl{
                top:30%;
                left: 2%;
                width: 100%;
                height: auto;
            }
            & p{
                position: absolute;
                top: 50%;
                left: 2%;
                
                line-height: 36px;
                font-family: 'Monda';
                font-weight: 400;
                font-size: 20px;
                color: white;
            }
            & .btnPD{
                position: absolute;
                bottom: 15%;
                left: 2%;
                font-size: 30px;
                font-weight: 700;
                color: #4EFEFE;
                background-color: #0000;
                background-image: url(../../public/assets/button2.png);
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
                width: 210px;
                height: 71px;
            }
            & .btnPN{
                position: absolute;
                bottom: 15%;
                left: 75%;
                font-size: 30px;
                font-weight: 700;
                color: #4EFEFE;
                transform: translate(-50%);
                background-color: #0000;
                background-image: url(../../public/assets/button2.png);
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
                width: 210px;
                height: 71px;
            }
        }
    }
    & .banner_MB{
        display: none;
    }
}


@media screen and (max-width: 1025px) {
    .Vidwrapper .banner_PC {
        & .image2{
            top: 10%;
        }
    }
}
@media screen and (max-width: 768px) {
    .Vidwrapper .banner_PC {
        & .image2{
            top: 15%;
        }
    }
}
@media screen and (max-width: 600px) {
    .Vidwrapper{
        height: 70vh;
        & .banner_PC{
            display: none;
            & img{
                display: block;
            }
        }
        & .banner_MB{
            display: block;
            position: relative;
            height: 70vh;
            & img{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
            }
            & .image1{
                height: 70vh;
                width: 100%;
            }
            & .image2{
                height: 30%;
                width: auto;
                transform: translate(-50%,-50%);
                left: 50%;
                top: 30%;
            }
            & .image3{
                height: auto;
                // width: 100%;
                bottom: 0;
                top: auto;
                left:0;
                z-index: 9;
                transform: translateY(50%);
            }
            // & .image3{
            //     height: auto;
            //     width: 100%;
            //     top: 0;
            //     z-index: 9;
            // }
        }

    }
}
@media screen and (max-width: 400px) {
    .Vidwrapper{
        height: 50vh;
        & .banner_MB{
            height: 50vh;
            & .image1{
                height: 50vh;
            }
        }

    }
}
