

.roadmap{
    overflow: hidden;
    // background-image: url(../../public/assets/bg_features2.webp);
    // background-position: center right;
    // background-repeat: no-repeat;
    // background-size: cover;
    position: relative;
    margin-top: 90px;
    &Container{
        position: absolute;
        left: 50%;
        height: 20% !important;
        transform: translate(-50%,0);
        z-index: 1;
    }
    &Title h2{
        // position: absolute;
        // width: 26%;
        // top: 80px;
        // left: 50%;
        // transform: translate(-50%, 0);
        font-family: 'Russo One', sans-serif;
        text-align: center;
        font-size: 45px;
        color: var(--color_text_white);
        font-weight: 100;
    }
    &Wrapper{
        display: flex;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 50px;
        max-width: 1200px;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        &Item{
            width: 25%;
            min-width: 300px;
            margin-bottom: 35px;
            position: relative;
            & ul{
                margin-left: 20px;
                margin-top: 35px;
                & li{
                    width: 90%;
                    color: white;
                    line-height: 2.8;
                    font-weight: 200;
                }
            }
            & h2{
                width: 60%;
                font-size: 40px;
                font-weight: 700;
                // color: var(--color_primary);
                background: linear-gradient(90deg, #FF8E00 0%, #FF5003 76.71%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;
                top: 9%;
                left: 20%;
            }
            & img{
                width: 101%;
                height: auto;
            }
        }
    }
}
@media screen and (max-width:1025px) {
    .roadmap{
        &Wrapper{
            &Item{
                width: 20%;
            }
        }
    }
}
@media screen and (max-width:769px) {
    .roadmap{
        &Wrapper{
            &Item{
                width: 40%;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .roadmap{
        &Title{
            top: 80px;
            width: 100%;
            & h2{
                font-size: 35px;
            }
        }
        &Wrapper{
            margin-top: 60px;
            margin-bottom: 0;
            &Item{
                width: 80%;
                margin-bottom: 20px;
                & h2{
                    font-size: 30px;
                    top: 35px;
                    left: 60px;
                }
                & img{
                    width: 70%;
                }
                & ul{
                    margin-top: 20px;
                }
            }
        }
    }
}
@media screen and (max-width:400px) {
    .roadmap{
        // &Title{
        //     top: 80px;
        //     width: 100%;
        //     & h2{
        //         font-size: 35px;
        //     }
        // }
        &Wrapper{
            // margin-top: 60px;
            &Item{
                // width: 80%;
                & h2{
                    font-size: 25px;
                    top: 30px;
                    left: 40px; 
                }
                & img{
                    width: 70%;
                }
                & ul{
                    margin-top: 20px;
                }
            }
        }
    }
}