
.imgBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.Wrapper{
    &Btn{
        display: flex;
        justify-content: space-between;
        width: 65%;
        flex-wrap: wrap;
    }
    &Video{
        margin: auto;
        max-width: 1265px;
        max-height: 715px;
        position: relative;
        &>img{
            width: 100%;
            height: 100%;
        }
        & iframe{
            position: absolute;
            top: 9.7%;
            left: 6%;
            width: 88.4%;
            height: 88%;
        }
        &imgmb{
            display: none;
        }
    }
}
.about {
    // background-color: black;
    position: relative;
    background-image: url(../../public/assets/Trailer_background.png);
    background-size: cover;
    z-index: 9;
    animation: animationSection 1s linear 1s;
    margin-top: -100px;
    & .WrapperContainer{
        display: none;
    }
    & .container {
        max-width: none;
        position: relative;
        padding-bottom: 100px;
    }
    &BG{
        width: 100vw;
        height: 30vh;
        z-index: 0;
        top: 0;
        left: 0;
        &img{
            width: 736px;
            height: auto;
            margin-top: 10%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
.robotLtraile{
    width: 8%;
    height: auto;
    position: absolute;
    left: 10%;
    bottom: 20%;
    z-index: 1;
    animation: transform linear;
}
.robotRtraile{
    width: 8%;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: 20%;
    animation: transform 0.001s;
}
@media screen and (max-width: 1250px) {
    .about {
        .WrapperVideo{
            & iframe{
                top: 8.7%;
                height: 85%;
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    .about {
        background-image: none;
        margin-top: -30%;
        & .WrapperContainer{
            height: 100vh;
            position: relative;
            display: block;
            background-image: url(../../public/assets/SLOGAN_BACKGROUND_MB.png);
            background-repeat: no-repeat;
            background-size: cover;
            &>img{
                position: absolute;
                top: 25%;
                width: 70%;
                height: auto;
                margin: 15%;
            }
           
               
            & p{
                position: absolute;
                top: 50%;
                left: 2%;
                width: 70%;
                margin: auto 15%;
                line-height: 36px;
                font-family: 'Monda';
                font-weight: 400;
                font-size: 20px;
                color: white;
                text-align: center;
            }
            & .btnPD{
                position: absolute;
                bottom: 25%;
                left: 20%;
                font-size: 30px;
                font-family: "Monda";
                font-weight: 700;
                color: #4EFEFE;
                background-color: #0000;
                background-image: url(../../public/assets/button2.png);
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
                width: 210px;
                height: 71px;
            }
            & .btnPN{
                position: absolute;
                bottom: 25%;
                left: 60%;
                font-size: 30px;
                font-family: "Monda";
                font-weight: 700;
                color: #4EFEFE;
                transform: translate(-50%);
                background-color: #0000;
                background-image: url(../../public/assets/button2.png);
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
                width: 210px;
                height: 71px;
            }
        }
        &BGimg{
          margin-top: 0;
          position: relative;
          width: 70%;
          height: auto;
          margin: auto;
          left: 50%;
          
        }
        & .container {
            height: auto;
            background-image: url(../../public/assets/Back_ground_trailer.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

@media screen and (max-width: 769px) {
    .about {
        &BG{
            height: 60vh;
         }
        & .WrapperContainer{
            &>img{
                top: 15%;
            }
            & p{
                top: 40%;
            }
            & .btnPD{
                bottom: 35%;
                left: 50%;
                transform: translateX(-50%);
            }
            & .btnPN{
                bottom: 25%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .about {
        &BG{
            z-index: -1;
            bottom: -20%;
            &img{
                width: 80%;
                margin-top: 5%;
            }
        }
        & .WrapperContainer{
            & .btnPD{
                bottom: 15%;
            }
            & .btnPN{
                bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .about {
        &BG{
            bottom: -35%;
        }
        .WrapperContainer{
                & p{
                    top: 30%;
                }
        }
    }
}

@keyframes animationSection {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100px;
    }
}